.main{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#search{
  padding: 7px;
  font-size: 14px;
  border-radius: 15px;
  width: 300px;
  border: none;
  background: #f6f6f6;
  box-shadow: 0px 3px 5px black;
}

.card{
  height: 200px;
  width: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:12px 16px;
  margin:10px 0;
  background:#f3f4f6;
  margin: 5px;
  border-radius:8px;
  border:1px solid #ddd;
}

.card p{
  margin:0;
  font-size:16px;
}

.buttons{
  padding:6px 12px;
  border:none;
  background:#ef4444;
  color:white;
  border-radius:5px;
  cursor:pointer;
  margin: 5px;
}

.card button:hover{
  background:#dc2626;
}